* {
  margin: 0;
  padding: 0;
}

/*navbar*/
nav {
  display: flex;
  background-color: #8E7AB5;
  justify-content: space-between;
  position: fixed;
  align-items: center;
  margin: 0%;
  top: 0%;
  right: 0%;
  left: 0%;
  height: 50px;
}

nav ul {
  display: flex;
  list-style: none;
  width: 40%;
  justify-content: space-between;
  transition: all 0.4s;
}

nav .logo {
  font-family: "Srisakdi", cursive;
  letter-spacing: 3px;
  /*space antar char*/
}

nav ul li a {
  text-decoration: none;
  color: whitesmoke;
  display: inline;
  margin-right: 20px;
}

nav ul li a:hover {
  color: #EEA5A6;
}

/* hamburger menu */
.menu-toggle {
  display: none;
  flex-direction: column;
  height: 17px;
  justify-content: space-between;
  position: relative;
}

.menu-toggle input {
  position: absolute;
  top: -5px;
  left: -3px;
  width: 21px;
  height: 21px;
  opacity: 0;
  cursor: pointer;
  z-index: 2;
}

.menu-toggle span {
  display: block;
  width: 21px;
  height: 2px;
  background-color: whitesmoke;
  border-radius: 3px;
  transition: all 0.7s;
}

/*x on hamburger menu*/
.menu-toggle span:nth-child(2) {
  transform-origin: left center;
}

.menu-toggle span:nth-child(4) {
  transform-origin: left center;
}

.menu-toggle input:checked~span:nth-child(2) {
  transform: rotate(45deg);
}

.menu-toggle input:checked~span:nth-child(4) {
  transform: rotate(-45deg);
}

/* invis span ke 2 / child ke 3 */
.menu-toggle input:checked~span:nth-child(3) {
  width: 0%;
  opacity: 0;
  transition: .1s
}

.image {

  width: 100%;
  height: auto;
  max-width: 140px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.container {
  border: 2px solid #b784b7;
  background-color: white;
  padding: 8px;
  border-radius: 10px;
  margin: 0.5% 20% 0% 20%;
  text-align: center;
}

main {
  background-color: white;
  text-align: justify;
  /* padding: 10px; */
}

.box {
  margin: 5px;
  padding: 10px;
  border-radius: 5px;
}

body {
  height: 100vh;
  background-image: url(/img/back.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: repeat-y;
}

footer {
  text-align: center;
  color: white;
  background-color: #8E7AB5;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;

}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.circle {
  border-radius: 50%
}

.circular {
  border-radius: 25%
}

h1 {
  text-align: center;
  color: #E493B3;
  text-justify: inter-word;
  word-wrap: break-word;
  animation-name: example;
  animation-duration: 1s;
  background-color: white;
}


h2 {
  text-align: center;
  color: #E493B3;
  text-justify: inter-word;
  word-wrap: break-word;
}

h3 {
  text-align: center;
  color: #E493B3;
  text-justify: inter-word;
  word-wrap: break-word;
}

h4 {
  text-align: center;
  color: #E493B3;
  text-justify: inter-word;
  word-wrap: break-word;
}

h5 {
  text-align: center;
  color: #E493B3;
  text-justify: inter-word;
  word-wrap: break-word;
}

p {
  text-align: center;
  text-justify: inter-word;
}

iframe {
  margin-top: 25px;
  margin-bottom: 25px;
}

table,
th,
td {
  align-self: center;
  text-align: center;
}

.border {
  border: 1px solid #b784b7;
}

@media screen and (max-width: 768px) {
  nav ul {
    width: 50%;
  }
}

@media screen and (max-width: 576px) {
  .menu-toggle {
    display: flex;
  }

  main {
    flex-direction: column-reverse;
  }

  nav ul {
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
    flex-direction: column;
    height: 100vh;
    justify-content: space-evenly;
    align-items: center;
    background-color: coral;
    /* transform: translateX(100%);  */
    transition: all 0.72s;
    opacity: 0;
    z-index: 2;
  }

  nav ul.menushow {
    opacity: 0.5;
    /* transform: translateX(0); */
  }

  .galeri {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 12px;
    margin: 5px 0;
    box-shadow: 0 0 5px 0.1px;
    transition-duration: 100ms;
  }

  @keyframes example {
    0%   {background-color: red;}
    25%  {background-color: yellow;}
    50%  {background-color: blue;}
    100% {background-color: green;}
  }

  ol {
    display: inline-block;
    text-align: center;
  }


}